apiVersion: v1
kind: Service
metadata:
  name: {{ include "site-perso.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "site-perso.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "site-perso.selectorLabels" . | nindent 4 }}
