body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(245, 245, 245);
}

.navbar {
    position: fixed; /* Ou `absolute`, selon le contexte */
    top: 0;
    right: 0;
    padding-right: 10%;
    padding-top: 1%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px; /* Ajustez ceci selon l'espace que vous voulez en dessous de la barre */
  }
  
.nav-item {
    text-decoration: none;
    color: black; /* Couleur du texte des liens */
    padding: 10px; /* Espace autour du texte dans le lien */
    margin-left: 10px; /* Espace entre les éléments */
    font-family: sans-serif; /* Le type de police utilisé */
    font-size: 16px; /* La taille de la police */
    border-bottom: 3px solid transparent; /* La bordure en bas du lien, transparent quand non survolé */
}

.nav-item:hover {
    border-bottom: 3px solid black; /* Bordure noire au survol pour l'effet souligné */
    }

.nav-item-active {
    border-bottom: 3px solid black; /* Bordure noire pour le lien actif */
    }

.name {
    position: fixed; /* Ou `absolute`, selon le contexte */
    top: 0;
    left: 0;
    margin-left: 10%;
    display: flex;
    font-size: 12px;
}
.name-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.icon {
    font-size: 30px;
    color: black;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.inner {
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 18px;
}

.about {
    text-align: left;
    padding-top: 1%; 
}

.project {
    font-size: 14px;
    margin-top: 5%;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    transition: transform .1s;
    border: rgb(238, 238, 238);
}

.project:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.optibet-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.contact {
    text-align: left;
}
