# Default values for site-perso
replicaCount: 1

image:
  repository: juliendelavande/site-perso
  tag: "1.3.2"
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

namespace:
  create: false
  name: site-perso

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: ""
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
  hosts:
    - host: delavande.fr
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: delavande-fr-tls
      hosts:
        - delavande.fr

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
