<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="ROBOTS" content="INDEX,FOLLOW">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Julien Delavande - Article</title>
        <meta name="description" content="Julien Delavande's article">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="./../../../main.css">
        <link rel="stylesheet" href="./../../blog.css">
        <link rel="stylesheet" href="./../article.css">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="name">
                    <h1><a href="./../../">Julien Delavande</a></h1>
                </div>
                <nav class="navbar">
                    <ul>
                        <li><a href="./../../" class="nav-item">About</a></li>
                        <li><a href="./../../" class="nav-item nav-item-active">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container">
            <article class="post-single">
                <header class="post-header">
                    <h1 class="post-title">Article Title</h1>
                    <div class="post-meta">
                        Date: March 18, 2023 | Estimated Reading Time: 10 min | Author: Julien Delavande
                    </div>
                </header>

                <div class="toc">
                    <details>
                        <summary>
                            <span class="details">Table of Contents</span>
                        </summary>
                        <div class="inner-summary">
                            <ul>
                            </ul>
                        </div>
                    </details>
                </div>

                <div class="post-content">
                </div>

                <footer class="post-footer">
                    <ul class="post-tags">
                        <li><a href="#">Tag1</a></li>
                        <li><a href="#">Tag2</a></li>
                    </ul>
                    <div class="share-buttons">
                        <a href="#" aria-label="Share on Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" aria-label="Share on LinkedIn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" aria-label="Share on Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                </footer>
            </article>
        </main>
    </body>
</html>
